<div class="relative isolate px-6 pt-2 lg:px-8">
  <div class="mx-auto max-w-2xl py-8 sm:py-16 lg:py-24">
    <div class="text-center">
      <app-nav-group></app-nav-group>
      <h1
        class="text-4xl mb-4 font-bold tracking-tight text-gray-900 sm:text-6xl"
      >
        Flat | Directory Information
      </h1>
      <!-- <app-search-form
        (newItemEvent)="onDirectoryPathChanged($event)"
      ></app-search-form> -->
      <app-pagination-group
        (changePagePressed)="onChangePage($event)"
      ></app-pagination-group>
      <div *ngIf="entries | async as data">
        <ng-container>
          <app-flat-list
            *ngIf="!error; else errorMessage"
            [data]="data"
            (pathUpdated)="onDirectoryPathChanged($event)"
          ></app-flat-list>
          <ng-template #errorMessage>
            <p class="text-red-600">{{ error }}</p>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
